[Unit]
Description=Model railway controller
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/railmaster/
ExecStart=/root/railmaster/main.py
Restart=always

[Install]
WantedBy=multi-user.target
